# Python Sanal Ortamları (ASLA GÖNDERİLMEZ)
venv/
backend/venv/
env/
.env

# Python Ön Bellek Dosyaları
__pycache__/
*.py[cod]

# Exe Derleme Artıkları
build/
dist/
dist.zip
*.spec
*.pkg

# Node.js (Frontend bağımlılıkları)
node_modules/
dist-ssr/
*.local

# Editör Ayarları
.vscode/
.idea/

# Büyük Veri Dosyaları (Github sınırı 100MB'dir)
# Eğer xlsx dosyanız çok büyük değilse kalabilir, büyükse başındaki # işaretini kaldırın
# *.xlsx